<div class="form-group row">
  <label class="form-control-label required">Tipo de pessoa:</label>
  <div class="col-sm input-container">
    <div class="radio-inline">
      <label class="top">
        <span><input type="radio" name="document_type" class="radio-cpf" data-rel="cpf" value="cpf" checked/></span>
        Pessoa Física
      </label>
    </div>
    <div class="radio-inline">
      <label class="top">
        <span><input type="radio" name="document_type" class="radio-cnpj" data-rel="cnpj" value="cnpj"/></span>
        Pessoa Jurídica
      </label>
    </div>
  </div>
</div>

<div id="cpf-field" class="form-group row active">
  <label class="form-control-label required">CPF</label>
  <div class="col-sm input-container">
    <input type="text" class="form-control" name="cpf" id="cpf-input"/>
  </div>
</div>

<div id="cnpj-field" style="display:none">
  <div class="form-group row">
    <label class="form-control-label required">Razão Social</label>
    <div class="col-sm input-container">
      <input type="text" class="form-control" name="razao_social" id="razao_social-input"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label required">CNPJ</label>
    <div class="col-sm input-container">
      <input type="text" class="form-control" name="cnpj" id="cnpj-input"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label">Inscrição estadual</label>
    <div class="col-sm input-container">
      <input type="text" class="form-control" name="cnpj_ie" id="ie-input"/>
    </div>
  </div>
</div>
