<div class="person-type-fields">
  <div class="clearfix">
    <label>Tipo de pessoa:</label><br/>
    <div class="radio-inline">
      <label class="top">
        <span><input type="radio" name="person_type" class="radio-cpf" data-rel="cpf" value="1" checked/></span>
        Pessoa Física
      </label>
    </div>
    <div class="radio-inline">
      <label class="top">
        <span><input type="radio" name="person_type" class="radio-cnpj" data-rel="cnpj" value="2"/></span>
        Pessoa Jurídica
      </label>
    </div>
  </div>
  <div id="cpf-field" class="form-group active">
    <label>CPF <sup>*</sup></label>
    <input type="text" class="form-control" name="cpfValue" id="cpf-input"/>
  </div>
  <div id="cnpj-field" style="display:none">
    <div class="form-group">
      <label>CNPJ <sup>*</sup></label>
      <input type="text" class="form-control" name="cnpjValue" id="cnpj-input"/>
    </div>
    <div class="form-group">
      <label>Inscrição estadual <sup>*</sup></label>
      <input type="text" class="form-control" name="ieValue" id="ie-input"/>
    </div>
  </div>
</div>
