form.webmaniabrnfe label{
  text-align:left!important;
  max-width: 200px;
  float:none;
}

#correios-loading{
  position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #FFF;
    background-image:url(../../assets/images/spinner.gif) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size:250px;
    opacity:0.5;
    display: none;
}

.extended-width-nfe{
  width:125px;
}

.nfe-status{
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  border-radius: .25em;
}
.nfe-status.emitida{
  background-color: #5cb85c;
}

.nfe-status.nao-emitida{
  background-color:#d9534f;
}



/*************PS 1.5***********/

.main-label-1_5{
    width: 230px;
    display: inline-block;
    text-align: right;
    padding: 6px 15px;
    font-size: 14px;
}

.radio-1_5{
  display:inline-block;
  margin-right:15px;
}


.input-text-1_5{
  padding: 0 5px;
    height: 22px;
    width: 360px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    line-height: 22px;
}

.persontype-fields{
  margin-bottom:10px;
}

.form-error-1_5 input,
.form-error-1_5 select{
  border: 1px solid #f13340!important;
  color: #f13340!important;
  background: #FFF1F2!important;
}

.form-ok-1_5 input{
  border: 1px solid #46a74e!important;
  color: #35b33f!important;
  background: #ddf9e1!important;
}

.warning_1_5{
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 8px 35px 8px 14px;
    margin-bottom:30px;
}



/***************PS 1.4*************/

.bo-label-1_4{
    text-align:left;
}

#address form.std{
  position: relative;
}

.radio-1_4 .top{
  text-align:left;
  width: auto;
  margin-bottom:10px;
}
