<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>webmaniabrnfe</name>
	<displayName><![CDATA[WebmaniaBR NF-e]]></displayName>
	<version><![CDATA[2.7.6]]></version>
	<description><![CDATA[M&oacute;dulo de emiss&atilde;o de Nota Fiscal Eletr&ocirc;nica para PrestaShop atrav&eacute;s da REST API da WebmaniaBR&reg;.]]></description>
	<author><![CDATA[WebmaniaBR]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Tem certeza que deseja desinstalar este módulo?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
